{{#if href}}
    <a href="{{href}}" class="{{linkclass}}">
{{/if}}
        <button class="{{btnclass}}" {{attrname}}="{{attrvalue}}">
            {{cta}}
        </button>
{{#if href}}
    </a>
{{/if}}