<div class="recipe-tile p-4">
    <div class="js-delete-recipe" data-id="{{recipe._id}}">X</div>
    <div class="row g-0 border-bottom pb-1">
        <h3 class="col-auto">{{recipe.title}}</h3>
        <div class="js-edit-recipe col material-icons" data-id="{{recipe._id}}">edit</div>
    </div>
    <div class="ingredients-container">
        <ul>
            {{#each recipe.ingredients}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="tag-container row g-0 w-100">
        {{#each recipe.tags}}
            <div class="col-auto recipe-tag p-2">{{this}}</div>
        {{/each}}
    </div>
</div>

<style>
    .recipe-tile {
        height: auto;
        width: auto;
        background-color: #684756;
        border-radius: 4px;
        position: relative;
    }

    .recipe-tag {
        background-color: #f3e9dc;
        color: #1a1423;
        border-radius: 6px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .js-delete-recipe {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #f7996e;
    }
</style>