{{#each plans}}
    <div class="container border-bottom">
        <h3>Plan für die nächsten {{this.duration}} Tage:</h3>
        <p>Von {{this.start}} bis {{this.end}}</p>

        <ul>
            {{#each this.recipes}}
                <li>
                    <div class="js-open-modal" data-id="{{this._id}}">
                        {{this.title}}
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
{{/each}}

{{> bottombar}}