<div class="recipe-tile p-4">
    <div class="row g-0 border-bottom pb-1">
        <h3 class="col-9">{{recipe.title}}</h3>
        <div class="col-auto d-flex">
            <div class="p-2" data-id="{{recipe._id}}">
                <a class="material-icons js-edit-recipe" href="/recipe/update?id={{recipe._id}}">edit</a>
            </div>
            <div class="js-delete-recipe material-icons p-2" data-id="{{recipe._id}}">delete</div>
        </div>
    </div>
    <div class="ingredients-container">
        <ul>
            {{#each recipe.ingredients}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="tag-container row g-0 w-100">
        {{#each recipe.tags}}
            <div class="col-auto recipe-tag p-2">{{this}}</div>
        {{/each}}
    </div>
</div>

{{> bottombar}}