<form class="p-5" action="/recipes/api/update" method="post">
    <h3>Rezept Updaten</h3>
    <input type="hidden" class="d-none" name="id" value="{{recipe._id}}">
    <label for="">Titel</label>
    <input id="title" name="title" class="js-form-title w-100 mb-3" type="text" placeholder="Title" value="{{recipe.title}}">
    <label for="">Ingredients (comma separated list)</label>
    <input id="ingredients" name="ingredients" class="js-form-ingredients w-100 mb-3" type="text" placeholder="Ingredients" value="{{recipe.ingredients}}">
    <label for="">Tags (comma separated list)</label>
    <input id="tags" name="tags" class="w-100 mb-3 js-form-tags" type="text" placeholder="Tags, comma separated" value="{{recipe.tags}}">
    <div class="w-100">
        <input id="for2days" class="js-form-for2days" type="checkbox" name="for2days">
        <label class="mb-3" for="" checked="{{recipe.for2days}}">For two days?</label>
    </div>
    <label for="">Price</label>
    <select name="price" class="w-100 mb-3 js-form-price">
            <option value="1" selected="true">€</option>
            <option value="2" selected="true">€€</option>
            <option value="3" selected="true">€€€</option>
    </select>
    <div class="w-100 mb-3">
        <button type="submit" class="btn btn-primary">
            Speichern
        </div>
    </div>
</form>

{{> bottombar}}

<style>
    .formular-container {
        position: fixed;
        z-index: 3;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        background-color: #1a1423;
        width: 90%;
        max-width: 500px;
        height: 500px;
        border-radius: 4px;
    }
</style>